<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Highlander Connect</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--<script src="jquery/dist/jquery.js"></script>-->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/materialize-css/dist/js/materialize.min.js"></script>
        <!-- <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js" crossorigin="anonymous"></script> -->
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <!--OUR CSS-->
        <!--<link rel="stylesheet" href="/index.css" media="screen" title="no title" charset="utf-8">-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <!--<body>-->
        <%- markup -%>
  <!--  </body>-->
    <script src="./script.min.js"></script>
    <!--<script src="./index.js"></script>!-->
    <script type="text/javascript">
      //Raven.config('https://75657f2418044524bf4aa00634638fd9@sentry.io/111544').install()
    </script>
    <script>
    </script>
    <!-- <link rel="stylesheet" href="/hover.css/css/hover-min.css" media="screen" title="no title"> -->

</html>
